<div id="main">
  <h1>Trip History</h1>

  <div id="sidebar">
    <h2>Filter</h2>
    <ul>
      <% @months_with_trips.each do |m| %>
        <li><%= link_to "#{Date::MONTHNAMES[m[:month]]} #{m[:year]}", trips_path(:month => m[:month], :year => m[:year]) %></li>
      <% end %>
    </ul>
  </div>

  <%= render :partial => "trip", :collection => @trips %>  
</div>
