<h1>Upcoming Trips</h1>
<%= render :partial => "trips/trip", :collection => @upcoming_trips %> 

<h1>Pending Trips</h1>
<%= render :partial => "trips/trip", :collection => @pending_trips %> 

<ul class="actions">
	<li><%= link_to 'New Trip', new_trip_path %></li>
	<li><%= link_to 'Trip History', trips_path %></li>
</ul>
