%p#tagline Create a trip. Invite participants. Go.
#pitch
  %h2 Plan your next trip with Rides in three steps:
  %ul
    %li.section
      %h3 1) Create a Trip
      %p Fill in trip details including date, time, and destination...
    %li.section
      %h3 2) Invite your friends
      %p ...invite people to join your trip by entering in their email addresses...
    %li.section
      %h3 3) Generate carpools
      %p ...automatically generate efficient ride assignments!
  != link_to 'Sign Up', new_person_registration_path, :class => 'black_box'
