<%= form_for([@trip, @arrangement]) do |f| %>
  <% if @arrangement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arrangement.errors.count, "error") %> prohibited this arrangement from being saved:</h2>

      <ul>
      <% @arrangement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
