<h1>Listing trip arrangements</h1>

<% if @arrangements.count > 0 %>
  <% @arrangements.each do |arrangement| %>
    <table>
      <tr>
        <% arrangement.passengers.each do |passenger| %>
          <td><%= passenger.name %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% else %>
  <p>This trip has no arrangements yet.</p>
<% end %>

<br />

<p>
  <%= link_to 'Back', @trip %>
</p>
