html
{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

body
{
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 15px;
	margin: 20px auto;
}

#header
{
	width: 960px;
	margin: 0px auto;
}

#logo
{
	left: 0px;
	width: 450px;
	height: 80px;
	float: left;
}

#logo img
{
	border: none;
}

#account
{
	right: 0px;
	height: 80px;
	text-align: right;
}

#account .large
{
	color: #666;
	font-size: 25px; 
	margin: 10px 0px;
}

#account ul
{
	margin: 0px;
}

#account li
{
	padding-left: 20px;
	display: inline;
}

#topnav ul li a
{
	color: #39d;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}

#main
{	
	clear: both;
	margin: 50px auto;
	width: 960px;
}

#content
{
	clear: left;
}

#sidebar
{
	width: 200px;
	background-color: #eee;
	float: right;
	padding: 20px;
	margin-left: 50px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.section
{
	width: 600px;
	background-color: #eee;
	padding: 0px;
	margin-bottom: 30px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.section h2
{
	background-color: #333;
	color: #eee;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 20px;
	margin-bottom: 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
}

.section h2 .triptitle
{
	text-align: left;
}

.section h2 .tripdate
{
	float: right;
}

.section div
{
	padding: 20px 20px 5px 20px;
}

.section div.field_with_errors
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.section fieldset
{
	border: none;
	margin: 0px;
	padding: 5px 20px;
}

.section label
{
	display: block;
	float: left;
	clear: left;
	color: #666;
	font-weight: bold;
	width: 100px;
	margin-right: 20px;
	padding: 5px 0px;
	text-align: right;
}

.section label.choice
{
	display: inline;
	width: auto;
	font-weight: normal;
	color: #333;
	float: none;
	clear: none;
	margin: auto;
}

.section input, .section select
{
	border: none;
	background-color: #fff;
	padding: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.section .tripinfo h3
{
	font-size: 15px;
	float: left;
	clear: left;
	margin: 0px 20px 0px 0px;
	display: block;
	width: 100px;
	text-align: right;
}

.section .tripinfo p
{
	margin: 0px 20px 15px 120px;
}

ul.actions
{
	list-style: none;
	margin-top: 20px 0px;
	padding: 10px 0px;
}

ul.actions li
{
	display: inline;
	padding: 10px 0px;
	margin-right: 20px;
	font-size: 15px;
	font-weight: bold;
}

ul.actions li a
{
	padding: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	background-color: #eee;
}

.ui-autocomplete
{
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  list-style-type: none;
  padding-left: 0px;
  width: 400px;
}

.ui-autocomplete a
{
  color: #000000;
}

#footer
{
	width: 960px;
	margin: 50px auto;
}

h1
{
	color: #39d;
	margin-bottom: 30px;
}

h2, h3
{
	color: #666;
}

a
{
	color: #39d;
	text-decoration: none;
}
