<p id="notice"><%= notice %></p>

<p>
  <b>Capacity:</b>
  <%= @vehicle.capacity %>
</p>


<%= link_to 'Edit', edit_person_vehicle_path(@owner, @vehicle) %> |
<%= link_to 'Back', person_vehicles_path(@owner) %>
